.button__login {
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    width: 360px;
    height: 50px;
    border-radius: 2px;
    font-size: 18px;
    margin-top: 230px;
    cursor: pointer;
    
}

@media (max-width: 400px) {
    .button__login{
        width: 260px;
        height: 47px;
        font-size: 16px;
    }
    
}