.profile__edit {
  background: url(../../../images/4.png);
  width: 24px;
  height: 24px;
  border: 1px solid #b5acac;
  background-repeat: no-repeat;
  margin: 17px 0 0 0;
  background-position: center;
  background-size: 10px 10px;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media (max-width: 700px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin: 8px 0 0 0;
  }
}
