.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 358px;
  height: 28px;
  outline: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  padding: 0;
}

@media (max-width: 550px) {
  .popup__input {
    width: 238px;
    height: 35px;
  }
}
