.popup__save {
  background: #000000;
  border-radius: 20px;
  width: 358px;
  min-height: 50.15px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color:#fff;
  cursor: pointer;
  border: none;
  padding: 0;
}

.popup__save:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 550px) {
  .popup__save {
    width: 240px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 25px;
  }
}
